<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>My Journal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../javascripts/my_app.js"></script>
    <script src="../javascripts/chats.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="images/diary.png" id="diary_logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="logoutLink" href="/logout">Logout <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="editLink" href="/user">Edit User</a>
                </li>
            </ul>
            <!-- Search bar
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            -->
        </div>
    </nav>
</head>
        
<body>  
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome. You are Logged In as
            <%= username %>
        </h2>
        
          <form id="chatForm" action="">
        <label for="name">Date:</label><input type="text" id="name" placeholder="Name"><br><br>
        <label for="chat">Entry:</label><input type="text" id="chat" placeholder="Entry"><br>
    </form>

    <button id="postChat">Post Entry</button>
    <button id="getChats">Get Entries</button>

    
    <form id="queryForm">
        <label for="query">Date to query:</label><input type="text" id="query" placeholder="Query"><br>
    </form>
    
    <div id="json"></div>
    <div id="done"></div>
    <div id="chats"></div>
    </div>
</body>
      
</html>