<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../javascripts/my_app.js"></script>
    <script src="../javascripts/chats.js"></script>
</head>
        
<body>  
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome. You are Logged In as
            <%= username %>
        </h2>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit User</a>
        
          <form id="chatForm" action="">
        <label for="name">Name: </label><input type="text" id="name" placeholder="Name"><br><br>
        <label for="chat">Chat: </label><input type="text" id="chat" placeholder="Chat"><br>
    </form>

    <button id="postChat">Post Chat</button>
    <button id="getChats">Get Chats</button>
    <button id="deleteChats">Delete All</button>
    
    <form id="queryForm">
        <label for="query">Name to query: </label><input type="text" id="query" placeholder="Query"><br>
    </form>
    
    <div id="json"></div>
    <div id="done"></div>
    <div id="chats"></div>
    </div>
</body>
      
</html>