body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button, #delete, #save, #login, #register {
  padding: 8px;
  background-color: #0080ff;
  border: #0080ff;

}

img {
  height: 50px;
}

label {
  margin-right: 5px;
}

input {
  margin-top: 5px;
}